// Шрифты --
@font-face {
    font-family: 'Myriad Pro';
    src: local('Myriad Pro Italic'), local('Myriad-Pro-Italic'),
        url('../../fonts/MyriadPro-It.woff2') format('woff2'),
        url('../../fonts/MyriadPro-It.woff') format('woff'),
        url('../../fonts/MyriadPro-It.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }
  @font-face {
    font-family: 'Myriad Pro';
    src: local('Myriad Pro Regular'), local('Myriad-Pro-Regular'),
        url('../../fonts/MyriadPro-Regular.woff2') format('woff2'),
        url('../../fonts/MyriadPro-Regular.woff') format('woff'),
        url('../../fonts/MyriadPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

body{
    margin: 0;
    padding: 0;
    background-color: #141414;
}
// Header --
.header_img{
    background-image: url(/img/header/layer1.jpg);
}

a.header__btn {
    text-decoration: none;
    color: #ffc600;
}
a:hover{
    color: #ffffff;
    transition: 0.3s;
}

.header {
    height: 1075px;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 114px;
}

.header__letter{
    color: #ffc600;
}

.header__title {
    font-family: 'Myriad Pro';
    font-size: 202.2px;
    font-weight: 700;
    line-height: 1.2;
    color: #ffffff;
}
.header__txt {
    font-family: 'Myriad Pro';
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
    margin-top: 22px;
    margin-bottom: 30px;
}
.header__btn {
    font-family: 'Myriad Pro';
    font-style: 18px;
    line-height: 1.2;
    font-weight: 400;
}

.main_block {
    background-image: url(../../img/header/layer_1_2.jpg);
    height: 654px;
    margin-top: 64px;
}

.main_block__txt {
    font-family: 'Myriad Pro';
    font-size: 60px;
    line-height: 48px;
    font-weight: 700;
    color: #ffffff;
    padding-top: 70px;
    padding-left: 46px;
}

.main_block__bar {
    padding-top: 60px;
    padding-left: 46px;
}

a.nav_bar{
    text-decoration: none;
    color: #ffc600;
    margin-right: 45px;
}

a.nav_bar:hover {
    color: #ffffff;
    transition: 0.3s;
    text-decoration: underline #ffc600;
}

.nav_bar {
    font-family: 'Myriad Pro';
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
}

// Блок About

.about {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
}
.about__flex{
    display: flex;
    padding-top: 36px;
    padding-bottom: 75px;
}
.about__maintitle {
    margin-left: 137px;
    padding-right: 186px;
}

.about__title {
    font-family: 'Myriad Pro';
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #717171;
}

.about_letter{
    font-family: 'Myriad Pro';
    font-size: 50px;
    line-height: 1.2;
    font-weight: 600;
    color: #717171;
}

.about__subtitle {
    font-family: 'Myriad Pro';
    font-size: 80px;
    line-height: 1.2;
    font-weight: 600;
    color: #000000;
}
.about_txt{
    font-family: 'Myriad Pro';
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    color: #000000;
}
.about__txt {
    font-family: 'Myriad Pro';
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    color: #000000;
}
.about__block {
    display: flex;
    justify-content: center;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 111px;
}
.about__block__element {
    margin-right: 90px;
    text-align: center;
}

.about__block__element__img {
    padding-bottom: 41px;
}
.about__block__element__title {
    font-family: 'Myriad Pro';
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    color: #000000;
    text-align: center;
    padding-bottom: 19px;
}
.about__block__element__txt {
    font-family: 'Myriad Pro';
    font-size: 10px;
    line-height: 1.2;
    font-weight: 400;
    color: #000000;
    text-align: center;
}


// featuredProjects
.featuredProjects {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
}
.featuredProjects__title {
    font-family: 'Myriad Pro';
    font-size: 50px;
    line-height: 1.2;
    font-weight: 600;
    color: #000000;
    padding-bottom: 23px;
    margin-left: 81px;
}
.fp__letter{
    font-family: 'Myriad Pro';
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #000000;
}
.featuredProjects__nav {
    display: flex;
    padding-bottom: 26px;
    margin-left: 81px;
}
.featuredProjects__solo {
    font-family: 'Myriad Pro';
    font-size: 9px;
    line-height: 1.2;
    font-weight: 600;
    color: #101010;
    margin-right: 35px;
}
.featuredProjects__navbar__elem {
    text-decoration: none;
    font-family: 'Myriad Pro';
    font-size: 9px;
    line-height: 1.2;
    font-weight: 600;
    color: #101010;
    margin-right: 15px;
}
.featuredProjects__navbar__elem:hover{
    color: #ffc600;
}
.featuredProjects__photos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 5 vw);
    padding-bottom: 66px;
}


// SP
.strategicprocess {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
}
.strategicprocess__title {
    font-family: 'Myriad Pro';
    font-size: 50px;
    line-height: 1.2;
    font-weight: 600;
    color: #000000;
    padding-bottom: 26px;
    margin-left: 80px;
}
.strategicprocess__txt {
    font-family: 'Myriad Pro';
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: #000000;
    margin-left: 79px;
    margin-right: 63px;
    margin-bottom: 43px;
}
.strategicprocess__gallery {
    margin-right: 170px;
    margin-left: 168px;

}
.strategicprocess__block {
    display: flex;
}
.strategicprocess__block__ttxt{
    padding-left: 50px;
    padding-top: 20px;
}
.strategicprocess__block__title {
    font-family: 'Myriad Pro';
    font-size: 50px;
    line-height: 1.2;
    font-weight: 600;
    color: #1d1d1d;
}
.strategicprocess__block__txt {
    font-family: 'Myriad Pro';
    font-style: italic;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: #000000;
}