@font-face {
  font-family: "Myriad Pro";
  src: local("Myriad Pro Italic"), local("Myriad-Pro-Italic"), url("../../fonts/MyriadPro-It.woff2") format("woff2"), url("../../fonts/MyriadPro-It.woff") format("woff"), url("../../fonts/MyriadPro-It.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Myriad Pro";
  src: local("Myriad Pro Regular"), local("Myriad-Pro-Regular"), url("../../fonts/MyriadPro-Regular.woff2") format("woff2"), url("../../fonts/MyriadPro-Regular.woff") format("woff"), url("../../fonts/MyriadPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  background-color: #141414;
}

.white30 {
  font-family: "Myriad Pro";
  font-size: 30px;
  color: #ffffff;
}

.header_img {
  background-image: url(/img/header/layer1.jpg);
}

a.header__btn {
  text-decoration: none;
  color: #ffc600;
}

a:hover {
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header {
  height: 1075px;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 114px;
}

.header__letter {
  color: #ffc600;
}

.header__title {
  font-family: "Myriad Pro";
  font-size: 202.2px;
  font-weight: 700;
  line-height: 1.2;
  color: #ffffff;
}

.header__txt {
  font-family: "Myriad Pro";
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  margin-top: 22px;
  margin-bottom: 30px;
}

.header__btn {
  font-family: "Myriad Pro";
  font-style: 18px;
  line-height: 1.2;
  font-weight: 400;
}

.main_block {
  background-image: url(../../img/header/layer_1_2.jpg);
  height: 654px;
  margin-top: 64px;
}

.main_block__txt {
  font-family: "Myriad Pro";
  font-size: 60px;
  line-height: 48px;
  font-weight: 700;
  color: #ffffff;
  padding-top: 70px;
  padding-left: 46px;
}

.main_block__bar {
  padding-top: 60px;
  padding-left: 46px;
}

a.nav_bar {
  text-decoration: none;
  color: #ffc600;
  margin-right: 45px;
}

a.nav_bar:hover {
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-text-decoration: underline #ffc600;
          text-decoration: underline #ffc600;
}

.nav_bar {
  font-family: "Myriad Pro";
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
}

.about {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
}

.about__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 36px;
  padding-bottom: 75px;
}

.about__maintitle {
  margin-left: 137px;
  padding-right: 186px;
}

.about__title {
  font-family: "Myriad Pro";
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #717171;
}

.about_letter {
  font-family: "Myriad Pro";
  font-size: 50px;
  line-height: 1.2;
  font-weight: 600;
  color: #717171;
}

.about__subtitle {
  font-family: "Myriad Pro";
  font-size: 80px;
  line-height: 1.2;
  font-weight: 600;
  color: #000000;
}

.about_txt {
  font-family: "Myriad Pro";
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #000000;
}

.about__txt {
  font-family: "Myriad Pro";
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #000000;
}

.about__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 111px;
}

.about__block__element {
  margin-right: 90px;
  text-align: center;
}

.about__block__element__img {
  padding-bottom: 41px;
}

.about__block__element__title {
  font-family: "Myriad Pro";
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: #000000;
  text-align: center;
  padding-bottom: 19px;
}

.about__block__element__txt {
  font-family: "Myriad Pro";
  font-size: 10px;
  line-height: 1.2;
  font-weight: 400;
  color: #000000;
  text-align: center;
}

.featuredProjects {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
}

.featuredProjects__title {
  font-family: "Myriad Pro";
  font-size: 50px;
  line-height: 1.2;
  font-weight: 600;
  color: #000000;
  padding-bottom: 23px;
  margin-left: 81px;
}

.fp__letter {
  font-family: "Myriad Pro";
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #000000;
}

.featuredProjects__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 26px;
  margin-left: 81px;
}

.featuredProjects__solo {
  font-family: "Myriad Pro";
  font-size: 9px;
  line-height: 1.2;
  font-weight: 600;
  color: #101010;
  margin-right: 35px;
}

.featuredProjects__navbar__elem {
  text-decoration: none;
  font-family: "Myriad Pro";
  font-size: 9px;
  line-height: 1.2;
  font-weight: 600;
  color: #101010;
  margin-right: 15px;
}

.featuredProjects__navbar__elem:hover {
  color: #ffc600;
}

.featuredProjects__photos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (5 vw)[2];
  grid-template-rows: repeat(2, 5 vw);
  padding-bottom: 66px;
}

.featuredProjects__photos > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.featuredProjects__photos > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.featuredProjects__photos > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.featuredProjects__photos > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}

.featuredProjects__photos > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.featuredProjects__photos > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.featuredProjects__photos > *:nth-child(7) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.featuredProjects__photos > *:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}

.strategicprocess {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
}

.strategicprocess__title {
  font-family: "Myriad Pro";
  font-size: 50px;
  line-height: 1.2;
  font-weight: 600;
  color: #000000;
  padding-bottom: 26px;
  margin-left: 80px;
}

.strategicprocess__txt {
  font-family: "Myriad Pro";
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #000000;
  margin-left: 79px;
  margin-right: 63px;
  margin-bottom: 43px;
}

.strategicprocess__gallery {
  margin-right: 170px;
  margin-left: 168px;
  padding-bottom: 100px;
}

.strategicprocess__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.strategicprocess__block__ttxt {
  padding-left: 50px;
  padding-top: 20px;
}

.strategicprocess__block__title {
  font-family: "Myriad Pro";
  font-size: 50px;
  line-height: 1.2;
  font-weight: 600;
  color: #1d1d1d;
}

.strategicprocess__block__txt {
  font-family: "Myriad Pro";
  font-style: italic;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #000000;
}

.servicrsprovided {
  background-image: url(/img/SPbc.jpg);
  width: 1200px;
  height: 478px;
  margin-right: auto;
  margin-left: auto;
}

.servicrsprovided__tite {
  font-family: "Myriad Pro";
  font-size: 50px;
  line-height: 1.2;
  font-weight: 600;
  color: #000000;
  margin-left: 50px;
  padding-top: 40px;
}

.servicrsprovided__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 437px;
  padding-top: 20px;
}

.servicrsprovided__block__elem {
  padding-bottom: 75px;
  padding-right: 100px;
}

.servicrsprovided__block__title {
  font-family: "Myriad Pro";
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  padding-bottom: 26px;
}

.servicrsprovided__block__txt {
  font-family: "Myriad Pro";
  font-size: 11px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
}

.testimonials {
  background-image: url(/img/Tesbc.jpg);
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  height: 419px;
}

.testimonials__title {
  font-family: "Myriad Pro";
  font-size: 50px;
  line-height: 1.2;
  font-weight: 600;
  color: #ffffff;
  margin-left: 50px;
  padding-top: 50px;
}

.testimonials__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding-top: 85px;
  width: 65%;
}

.testimonials__txt {
  font-family: "Myriad Pro";
  font-style: italic;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
}

.testimonials__img__txt {
  font-family: "Myriad Pro";
  font-style: italic;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 600;
  color: #ffffff;
}

.blogs {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
  padding-bottom: 115px;
}

.blogs__title {
  font-family: "Myriad Pro";
  font-size: 50px;
  line-height: 1.2;
  font-weight: 600;
  color: #000000;
  margin-left: 58px;
  padding-bottom: 70px;
  padding-top: 60px;
}

.flex__elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blogs__navbar {
  padding-right: 110px;
}

a.blogs__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #000000;
  font-family: "Myriad Pro";
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  padding-bottom: 15px;
  margin-left: 130px;
}

a.blogs__nav:hover {
  color: #ffc600;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.blogs__posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blogs__block__data {
  font-family: "Myriad Pro";
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffc600;
  padding-bottom: 20px;
}

.blogs__block__title {
  font-family: "Myriad Pro";
  font-size: 15px;
  line-height: 1.2;
  font-weight: 700;
  color: #000000;
  padding-bottom: 10px;
}

.blogs__block__subtitle {
  font-family: "Myriad Pro";
  font-style: italic;
  font-size: 12px;
  line-height: 1.2;
  color: #000000;
}